# objis
*.o
# executables

# cmake build dirs
build/*
cmake-build-debug/*

#executables
example
a.out
*.out
*.out_original
IMB-ASYNC/src_cpp/IMB-ASYNC
IMB-ASYNC/IMB-ASYNC
IMB-ASYNC/IMB-ASYNC_orig

IMB-ASYNC/src_cpp/ASYNC/thirdparty

# output from job runs
job.err
job.out
IMB-ASYNC/err/
IMB-ASYNC/output/

# from ctest
*LastTest.log
Testing/Temporary

# backupo data from older measurements
visualization/mearurement_2022_05_16.tar.gz
# more in visualization
cache.csv
*.pdf

#IDE specific
.project
.cproject
.settings
.idea

