# Invocation command line:
# runspec --config=tsan_test_no_tsan --rebuild --tune=base --threads=4 --size=test -I 358 359 367 376
############################################################################


ext           = no_tsan
PATHSEP       = /

check_md5     = 1
env_vars      = 1
iterations    = 3


output_format = all
backup_config = 1
sysinfo_program = $[top]/Docs/sysinfo -f
#
# These are listed as benchmark-tuning-extension-machine
#
default=default=default=default:
CC   = $(CLANG_WRAP_CC)
#FC   = gfortran
CXX  = $(CLANG_WRAP_CXX)
OBJ  = .o
#
# portability & libraries
#
default=default=default=default:
ENV_KMP_LIBRARY=turnaround
ENV_OMP_SCHEDULE=static
ENV_KMP_BLOCKTIME=infinite
ENV_KMP_STACKSIZE=1G
ENV_OMP_DYNAMIC=FALSE
ENV_OMP_NESTED=FALSE
ENV_KMP_AFFINITY=compact,1

350.md=default=default=default:
FPORTABILITY  = -FR

352.nab=default=default=default:
CPORTABILITY  = -std=gnu89

359.botsspar=default=default=default:
CPORTABILITY  = -std=gnu89


367.imagick=default=default=default:
CPORTABILITY  = -std=c99

357.bt331=default=default=default:
PORTABILITY   = -mcmodel=medium

363.swim=default=default=default:
PORTABILITY   = -mcmodel=medium

default=default=default=default:

################################################################
# Base tuning default optimization                             #
################################################################

default=base=default=default:
OPTIMIZE= -O3 -fopenmp -flto -fwhole-program-vtables -fuse-ld=lld
COPTIMIZE= 
CXXOPTIMIZE=
FOPTIMIZE= 




__MD5__
358.botsalgn=base=rwth-intel=default:
# Last updated Fri May 16 15:05:55 2025
optmd5=f69856ebd4db3cfcf4a9d74c41794c43
baggage=
compile_options=\
@eNq1UstO6zAQ3ecrLO+NhZBYVASJpgECbRIJumETuc6kNfgR2Q4Ivp5Jub08Vgi1li0fj+3x8ZlT\
OsuMeIJOaSCuj8rZMElC9ErGxg+2Vb55Bq+615Qe0wRhwCOIT2mSVYt6QvjGGeBRGd57kM70QwQu\
x5xsNSjdshZWw5oPAZgUAQKPGw+iZUFYFdUbeC61sOvmxYu+kZIw7G5H5cgRNrur8+zf1OCT/2Gd\
l9tVOcunyyvCiqNxcKTAoghPgQut1taAjZ+o6ZzfnkKmxllCWHVCWOd6sKZHsGOVfrDEiI7IoXvZ\
OA2s927thWHPUaw0BIyP39JtqnVLfraz4AYv4TzJJiTLUrpnoeg2bzW9qer7lH5TjSZYl6xeXs4v\
ru5w75cKbq9N8zK7bnY3/yApTaoJQU7FonjIMcW+9KXJvChv9++3gzjgzK0eQcZwjphpswt/lmgs\
3nx2AFMcSnzku7i4v27mxXQ0hjb04wvVcnTfF+u9A7K0cFg=
exemd5=dea51fdc107b4a22cb3b199ade0ea1f7

372.smithwa=base=rwth-intel=default:
# Last updated Fri May 16 15:25:56 2025
optmd5=e560c41606a1106e7d7feab02305f707
baggage=
compile_options=\
@eNq1Uk1vgzAMvfMrotwztE27oFKppaxjo4DU9rILCsG02RKCktBq+/UL7bqv0w5tFCmO4zzbzy9T\
LZH0FRouAKnOctWawDNWc2ZL3bc11+UONG/eQnyNPWcaFxLimzvsRfmiCJC/VRJ8y6XfaWBKdr0F\
nw2YpOq5qEkNVb/xewOEUQPGt1sNtCaGttzyd9A+E7TdlHtNu5IxRNxWp1KuFCKzZRFHn0fpUn6Z\
RZwdbtksnq7nCCGS3yLSqA5a2TnjlCE8ZnQeYR1es98qAaTTaqOpJDtLKwHG+YcSRR0KUaO/a2RU\
rxmMvShAURTiMzeND7j59DEvViH+xQD2HMdRsb5PJ/Ole/snG9jLA+TQkkXyHLtv52IGe2mSPZ1/\
6heZ3UhVL8CsGQ/aEPLk/iZ3oD2dXWCclyLf1buYrB7KNJkOYhASH1vI14NufojmA/LQR48=
exemd5=ca4017b1849d21af46ad482539b6383a

